$colorMain: #2de7cf;
$colorDesc: #252525;
$backgroundDark: #192533;

html {
    font-size: 18px;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Jost',
    sans-serif;
    font-size: 1rem;
} 

// wrapper

.wrapper {
    background-image: url(../img/blur-back.jpg);
    background-size: cover;
    text-align: center;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // header
    
    .header {
       background-color: rgba($backgroundDark, $alpha: .6);
       color: $colorMain;

       .header-rules {        
           position: absolute;
           right: 0;
           display: inline-block;
           
           .header-rules-title {
                text-align: end;  
                margin: 5px;
                margin-bottom: 0;
                font-size: 0.9rem;
                font-weight: normal;
                cursor: pointer;
           }
           
           .header-rules-list {
               text-align: start;
               background-color: #303241;
               margin: 0 5px 0 0;
               border-radius: 10px;
               line-height: 1;
               display: none;
               position: absolute;
               right: 0;
               box-shadow: 0 4px 6px rgba($colorMain, $alpha: .2), 
               2px 6px 8px rgba($colorMain, $alpha: .2);
               width: 220px;
               
               .header-rules-list-item {
                   font-size: 1rem;    
                   padding: 5px 5px 5px 0;   
                   margin-left: -5px;        
                }
            }
        }
        
        .header-rules:hover .header-rules-list {
            display: block;
        }

        .header-title {
            margin: 0;
            padding: 40px;
            font-size: 2.2rem;
            font-weight: bold;
            text-shadow: 0px 0px 3px $colorMain;
        }
    }

    // sections
    
    #bet-form,
    #bet-result,
    #bet-point {
        margin: 10px;        
        
        .section-title {
            color: #fff;
            font-weight: normal;
            margin: 0 0 30px 0;
            font-size: 1.4rem;
            text-shadow: 0px 0px 3px $colorMain;
        }

        .section-description, #result-text {
            font-size: 1rem;            
            text-shadow: 0px 0px 8px $colorMain;
            color: $colorDesc;
            margin: 15px;
        }

        #bet {
            width: 200px;
            padding: 10px;
            font-family: 'Jost',
            sans-serif;
            font-size: 1rem;         
            margin-bottom: 10px;
            color: $colorDesc;
        }

        #input-error {
            margin: 0 0 10px 0;
            color: #a01740;
            text-shadow: 0px 0px 8px #9c9c9c;
        }

        .button {
            font-family: 'Jost',
            sans-serif;
            font-size: 1rem;
            border-radius: 20px;
            border: 2px solid $colorMain;
            cursor: pointer;
            padding: 10px 20px;
            background-color: rgba($backgroundDark, $alpha: .2);
            color: $colorMain;
            transition: all .2s ease-in;
        }

        .button:hover {
            background-color: $colorMain;
            color: #fff;
            box-shadow: 0px 0px 12px rgba($color: #fff, $alpha: .6);
        }

        .button:active {
            transform: scale(0.9);
        }
    }

    // footer

    .footer {
        background-color: rgba($backgroundDark, $alpha: .3);       

        .footer__item {
            width: 40%;
            min-width: 150px;
            max-width: 220px;
            margin: 0 auto;
            padding: 10px;

            .footer__img {
                width: 100%;                
            }
        }
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 16px;
    }

    .wrapper {
        .header {
            .header-title {
                padding: 30px;
            }
        }

        .footer {
            .footer__item {
                width: 30%;
                padding-top: 20px;
            }
        }
    }
}