$colorMain: #2de7cf;
$colorDesc: #252525;
$backgroundDark: #192533;

html {
    font-size: 18px;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Jost',
    sans-serif;
    font-size: 1rem;
} 

.wrapper {
    background-image: url(../img/blur-back.jpg);
    background-size: cover;
    text-align: center;     
    
    .header {
       background-color: rgba($backgroundDark, $alpha: .6);
       
        .header-title {
            margin: 0;
            padding: 50px;
            color: $colorMain;
            font-size: 2.8rem;
            font-weight: bold;
            text-shadow: 0px 0px 3px $colorMain;
        }
    }
    
    #bet-form,
    #bet-result,
    #bet-point {
        margin: 100px;        
        
        .section-title {
            color: #fff;
            font-weight: normal;
            margin-bottom: 40px;
            font-size: 1.5rem;
            text-shadow: 0px 0px 3px $colorMain;
        }

        .section-description, #result-text {
            font-size: 1.1rem;
            text-shadow: 0px 0px 2px $colorMain;
            color: $colorDesc;
            margin: 20px;
        }

        #bet {
            width: 250px;
            padding: 10px;
            font-family: 'Jost',
            sans-serif;
            font-size: 1rem;         
            margin-bottom: 30px;
            color: $colorDesc;
        }

        .button {
            font-family: 'Jost',
            sans-serif;
            font-size: 1rem;
            border-radius: 20px;
            border: 2px solid $colorMain;
            cursor: pointer;
            padding: 10px 20px;
            background-color: rgba($backgroundDark, $alpha: .2);
            color: $colorMain;
            transition: all .2s ease-in;
        }

        .button:hover {
            background-color: $colorMain;
            color: #fff;
            box-shadow: 0px 0px 12px rgba($color: #fff, $alpha: .6);
        }

        .button:active {
            transform: scale(0.9);
        }
    }

    .footer {
        background-color: rgba($backgroundDark, $alpha: .3);        

        .footer__item {
            width: 50%;
            min-width: 200px;
            max-width: 300px;
            margin: 0 auto;
            padding: 50px;

            .footer__img {
                width: 100%;                
            }
        }
    }
}